body{
	font-family: sans-serif;
	margin: auto;
	color: #fff;
}
#container{
	width: 100%;
	background-image: url(../img/bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: scroll;
}
.alpha{
	background-color: rgba(90, 80, 120, 0.6);
}
.head{
	text-align: center;
	padding: 25px 0;
}
.head #title{
	font-size: 32px;
	letter-spacing: 3px;
	font-weight: lighter;
}
.head #description{
	font-size: 18px;
	letter-spacing: 1.5px;
	line-height: 8px;
}

/*style of form*/
#survey-form{
	width: 40%;
	height: auto;
	background-color: #2C2B49;
	padding: 30px 35px;
	margin: auto;
}
#survey-form label{
	font-weight: lighter;
	font-size: 18px;
}
#survey-form #name,#email,#number,#dropdown{
	width: 100%;
	margin-top: 8px;
	margin-bottom: 2rem;
	padding: 10px 0;
	border-radius: 6px;
}
#survey-form #name,#email,#number,#dropdown,textarea:focus{
	outline: none;
}
::placeholder{
	padding: 0 10px;
	font-size: 15px;
}
#survey-form #radio-btn{
	margin:8px 0;
	font-size: 20px;
}
#survey-form .checkbox input{
	margin: 8px 0;
}
#survey-form textarea{
	width: 100%;
	margin-top: 8px;
}
#survey-form #btn{
	width: 100%;
	padding: 13px 0px;
	background-color: #37AF65;
	color: #fff;
	border: 1px solid #37AF65;
	border-radius: 2px;
	font-size: 16px;
	font-weight: lighter;
}
